/*body  {
  padding-top:50px; 
}
.polls  {
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
}
.poll   {
  width:25%;
  margin:20px;
}*/
  @font-face {
    font-family: "typo";
    src: url('OfficeCodePro-Regular.ttf') format('truetype');
  }

  .alreadyParticipating{
    color:purple;  
}

  #srt span em{
    font-style: italic;
    color:grey;
  }

  #nextTexte{
    background-color:lightgreen;
  }

  a {
    color: pink;
    text-decoration: underline;
}

a:hover{
      color: lightgrey;
    text-decoration: underline;
}

  html{
    width:100%;
    height:100%;
  }

  .divAmbiance{
    display: inline;
    width:100px;
    height:100px;
    background-color:red;
  }

  body{
    font-family: "typo", sans-serif;
    font-size:1.6vw;
    text-align: center;
    margin: 0px;
    -webkit-transition: color 1s ease-in-out;
    -webkit-transition: background-color 1s ease-in-out;

    width:100%;
    height:100%;
  }

  #dateNextRepresentation{
    background-color: black;

    color:white;

    transition:all .2s ease-in-out;
  }  

  #dateNextRepresentation:hover{
    background-color: blue;

    transition:all .2s ease-in-out;
  }

  #bonjour{
    opacity:1;

    position: absolute;
    top:50%;
    transform: translateY(-100%);
    width:100%;
    text-align:center;
    font-size:5vw;    

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

  #bottomcontainer{
    margin:0 auto 0 auto;
    width:100%;
  }

  #checkboxRTC{
    pointer-events: none;
  }

  input[type='checkbox'] #checkboxRTC{
    cursor:none;
  }

  #zob{
    color:grey;
  }

  #logoamikal{
/*    opacity:.5;
    transition: opacity .2s ease-in-out;

    width:95px;
    height:65px;
    background: url(logoamikal.png) no-repeat;
    background-size:contain;
    margin:auto;
*/
        text-align:center;
          margin-bottom:100px;
  }

  #logoamikal img{
    opacity:.5;
    transition: opacity .2s ease-in-out;

    margin:6px 0 10px 0;
  width:95px;
}

  #logoamikal img:hover{
    opacity:1;
    transition: opacity .2s ease-in-out;
  }


  #first_drawing{
    width: 34vw;
    transform: translateX(50%)
      }  

  #container_checkliste{
    width:100%;
  }

  #second_drawing{
    width: 48%;
    transform: translateX(45px);
    float:right;
    /*background: url(img/check.svg) no-repeat center;
    background-size: contain;
    */
  }

  #inscription{
    opacity:0;

    text-align:left;

    width: 66.66666667%;
    margin-left: 16.66666667%;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

  #titre{
    font-size: 5vw;
    background: url(img/patate1.svg) no-repeat center;
    background-size: contain;
    margin: -127px;
    margin-top:-90px;
    padding: 150px;

  }

  #nextshow{
    float:right;
    background: url(img/patate2.svg) no-repeat center;
    background-position: 0px 25px;
    background-size: contain;
    margin: -80px;
    margin-top:10px;

    padding: 80px;

    font-size: 1.8vw;
  }

  .button{
    box-shadow: 0px -5px 0px 0px #999999;
    border: solid 2px white;
    border-radius: 6px;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color:#666666;

    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;

    margin:8px;
    font-family: "typo", sans-serif;
  }

  .button:active {
    box-shadow: 0 -2px #666;
    transform: translateY(-4px);
}

  .button:focus {
    outline:0;
  }

  .button:hover{
    background-color: white ;
    color: black;
  }

  #liste{
    font-size:1.6vw;
    width:57%;
  }

  ul#checklist{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    width: 50%;
    transform: translate(25%);
  }

  ul .ok{
    list-style-image: url('ok.ico');
  }

  ul .nope{
    list-style-image: url('nope.ico');
  }

  ul#fiction{
    display: flex;
    flex-direction: column-reverse;
  }


  #gcontainer{
    background-color: black;
    width:100%;
    height:100%;
  }

  #flipbookcontainer{
    position:absolute;
    top:25%;
    left:10%;
    background-image : url("/img/jeanmich.png");
    background-repeat : no-repeat;
    background-position: center;
    background-size: contain;
    width:80%;
    height:70%;
    z-index:3;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }

  .barred{
    background-color: #e2e2e2;
    border-color: #e2e2e2;
    color: #989898;
  }

  .btn{
    width:100%;
    height:40px;
    white-space: normal; 
    font-size:20px;
  }

  .btn-primary {
    color: black;
    background-color: white;
    border-color: #333333;
  }

  .btn:focus{
    background-color: grey;
  }

  .btn:hover{
    background-color: grey;
  }

  .open > .dropdown-toggle.btn-primary:focus{
    background-color:grey;
  }

  .btn-primary:active:focus{
    background-color:grey;
  }

  .scanSrt{
    height:60px;
  }

  #listcontainer{
    position:absolute;
    top:40%;
    left:35%;
    width:30%;
    height:50%;
    z-index:3;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }

  #imgcontainerBACK{
    background : no-repeat center center fixed; 
    -webkit-background-size: cover;

    background-image: url("/img/f-02.png");
    background-color:black;
    position:absolute;
    width:100%;
    height:100%;
    z-index:1;
    opacity: 1;
  }

  #imgcontainerFRONT{
    background : no-repeat center center fixed; 
    -webkit-background-size: cover;

    position:absolute;
    opacity:0;
    width:100%;
    height:100%;
    z-index:2;
  }

  #srtcontainer{
    /*c'est moi le plus foreground*/
    -webkit-transition: all 2s ease-in-out;
    width: 100%;
    height: 10%;
    position: absolute;
  }

  .invisible{
    opacity: 0;

  }

  .visible{
    opacity: 1;
  }

  .posmid{
    height : inherit;
    width : inherit;
    background-color: rgba(245, 245, 245, 0);
    /*hum hum transparance*/
    top:45%;
  }

  .posbot{
/*    height : inherit;
    width : inherit;
    background-color: white;

    pour SRT
*/    top: -50%;
  }

  .postop{
    height : inherit;
    width : inherit;
    background-color: rgba(245, 245, 245, 0);
    /*hum hum 
    pour BUTTON transparance*/

    transform: translate(0%,100%);
  }

  #sacbouttons{
    margin-top:12px;
    z-index:11;
    
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    top :200%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);

    opacity: 0;
  }

  #success{
    font-size: 1.8vw;
    position: fixed;
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 2.5%;
    background-color: beige;
    opacity: 0;
    display:none;

        -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

  }

  #close{
    position: absolute;
    transform: translateX(-50%);
    top: 75vh;  
  }

  #sucesstext{
    width: 70%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  #date_choisie{
font-size: 2.2vw;
text-decoration: underline;
  }

  #shows-list{
    margin-bottom: 100px;
  }


  #srt{
    color: white;

    font-size:2.2vw;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    z-index:1000;

    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;      

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

  }


#stats {
  font-size: 0.5em;
}
#stream-ifr {
  display: none;
}
.hide {
  display: none !important;
}

textarea {
  font-size: 50%;
}

body.admin a{
  color:blue;
}


body.admin #gcontainer {
  height: 400px;
  position: relative;
}
div.login input {
  background-color: #FFF;
  color: #000;
}


.eclair{
  height:100%;
  width:100%;
  animation: nuitjour 2.5s;
  background-color: rgba(255,255,255,0); 
  position:absolute;
  z-index: 100;
}

.eclair2{
  height:100%;
  width:100%;
  animation: nuitjourd 1s;
  background-color: rgba(255,255,255,0); 
  position:absolute;
  z-index: 100;
}

@keyframes nuitjour {
  0%, 100% {background: black;}
  1% {background: grey;}
  3% {background: rgba(255,255,255,0);}
  4% {background: blue;}
  6% {background: white;}
  15% {background: grey;}
  16% {background: white;}
  30% {background: rgba(255,255,255,0);}
  31% {background: white;} 
  100% {background: rgba(255,255,255,0);}
}

@keyframes nuitjourd {
  0%, 100% {background: rgba(255,255,255,0);}
  3% {background: grey;}
  6% {background: red;}
  15% {background: grey;}
  16% {background: white;}
  30% {background: rgba(255,255,255,0);}
  31% {background: white;}
  100% {background: rgba(255,255,255,0);}
}


  @media (max-width:920px) {
    #nextshow{
      background-position: 0px 32px;
      }
    #first_drawing{
      display:none;
    }
    #inscription{
      text-align: center;
    }
    #success{
      font-size:15px;
    }
    /* #second_drawing{
      margin-left: -85px;
    transform: translateX(-15%);
    }
    */
  }

    @media (max-width:500px) {
    #nextshow{
      background-position: 0px 43px;
      }
  }