tr.bold > td {
    font-weight: bold;
    text-decoration: underline;
}
h1 {
    color:blue;
}


body.representations {
    font-size: 14px;
}

.bootstrap-datetimepicker-widget {
  color: red !important;
}

div#stream-error {
    position: absolute;
    z-index: 10;
    bottom: 0;
    background: #fff;
    color: #000;
}