	@mixin typo($corps){
		font-family: "typo";
		src: url('OfficeCodePro-Regular.ttf') format('truetype');
		text-align: center;
		color: black;
		font-size : $corps;
	}

	@mixin transition($type, $duree, $easing){
		-webkit-transition: $type $duree $easing ;
		-moz-transition: $type $duree $easing ;
		-o-transition: $type $duree $easing ;
		transition: $type $duree $easing ;

	}

	html{
		width:100%;
		height:100%;
	}

	body{
		@include typo(22px);

		margin: 0px;

		-webkit-transition: color 1s ease-in-out;
		-webkit-transition: background-color 1s ease-in-out;

		width:100%;
		height:100%;
	}

	button{
		font-size:14px;
	}
	button:active {
		position:relative;
		top:2px;
	}

	li {
		list-style-image: url('ok.ico');
		opacity: 1;

		@include transition(all, 1s, ease-in-out);
	}

	#gcontainer{
		width:100%;
		height:100%;
	}

	#imgcontainerBACK, #imgcontainerFRONT{
		@include transition(all, 10s, ease-in-out);

		background : no-repeat center center fixed; 
		-webkit-background-size: cover;


		background-color: white;
		width:100%;
		height:100%;
	}

	#srtcontainer{
		/*c'est moi le plus foreground*/
		z-index:10;
		-webkit-transition: all 2s ease-in-out;
		width: 100%;
		height: 10%;
		position: absolute;
	}

	.ciao{
		opacity: 0;
	}

	.posmid{
		height : inherit;
		width : inherit;
		background-color: rgba(245, 245, 245, 0);
		/*hum hum transparance*/
		top:45%;
	}

	.posbot{
		height : inherit;
		width : inherit;
		background-color: white;
		top: 90%;
	}

	.postop{
		height : inherit;
		width : inherit;
		background-color: rgba(245, 245, 245, 0);
		/*hum hum transparance*/
		top : 15%;
	}

	#checklist{
		display:none;

		font-size:16px;
		top:60%;
		width:80%;
		left:10%; 
		position:absolute;

		@include transition(opacity, 1s, ease-in-out);
	}

	#sacbouttons{
		z-index:11;

		@include transition(opacity, .3s, ease-in-out);
		position:relative;
		top :100%;
	}


	#srt{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);

		-webkit-touch-callout: none; 
		-webkit-user-select: none;   
		-khtml-user-select: none;    
		-moz-user-select: none;      
		-ms-user-select: none;      

		@include transition(all, 1s, ease-in-out);
	}
	