<head>
  <title>LE PONT</title>
  <meta charset="utf-8">
</head>

<template name="admin">

<!--   <h1>Admin</h1>
 -->  {{> loginButtons}}
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="small admin_menu">
          <li><a href="/data" target="_blank">data</a></li>
          <li><a href="/representations" target="_blank">réprésentations</a></li>
          <li><a href="/users" target="_blank">users</a></li>
          <li><a href="/ambiances" target="_blank">ambiances</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
<!--         <h5>Spectacle <button data-toggle="collapse" data-target="#showtime">▾</button></h5>
 -->
        <div id="showtime" class="collapse in">

          <div class="col-lg-12 col-md-12">
                {{> showtime}}
          </div>
        </div>
    </div>


    <div class="row">
        <h2>Téléphones <button data-toggle="collapse" data-target="#phones">▾</button></h2>

        <div id="phones" class="collapse">

          <div class="center-block col-md-10">
                {{> phonesList}}
          </div>
        </div>
    </div>


    <div class="row">
        <h2>Stats Server - Users online <button data-toggle="collapse" data-target="#stats">▾</button></h2>

        <div id="stats" class="collapse">

          <div class="col-lg-3 col-md-3">
                {{> status userStatus}}
          </div>
          <div class="col-lg-9 col-md-9">
              {{> serverStatus }}
          </div>
        </div>
    </div>
    


    <div class="row" style="display:none">
      {{> screen}}
    </div>




    <div class="row">
        <h2>Loteries <button data-toggle="collapse" data-target="#loteries">▾</button></h2>

        <div id="loteries" class="collapse in">

          <div class="center-block col-md-10">
                {{> loteriesList}}
          </div>
        </div>
    </div>




  </div>  


</template>


<template name="status">
    <h3>Local status:</h3>

    <button class="btn btn-success resync">Resync Time</button>

    <dl class="dl-horizontal">
        <dt>Server Time:</dt><dd>{{serverTime}}</dd>
        <dt>Local Offset:</dt><dd>{{serverOffset}} ms</dd>
        <dt>RTT:</dt><dd>{{serverRTT}} ms</dd>
        <dt>Idle:</dt><dd>{{isIdleText}}</dd>
        <dt>Monitor on:</dt><dd>{{isMonitoringText}}</dd>
        <dt>Last Activity:</dt><dd>{{lastActivity}}</dd>
    </dl>

    {{#if isMonitoring}}
    <h4>Idle monitoring is on.</h4>
    <button class="btn btn-danger stop-monitor">Stop Monitor</button>
    {{else}}
    <form class="start-monitor">
        <legend>Start monitor with the following parameters:</legend>
        <label>Idle Threshold:</label>
        <input class="form-control" name="threshold" type="number" min="5000" step="1" value="30000" required>
        <label>Monitor Interval:</label>
        <input class="form-control" name="interval" type="number" min="1000" step="1" value="1000" required>
        <label>Idle on window blur:</label>
        <select class="form-control" name="idleOnBlur" required>
            <option value="true" selected>true</option>
            <option value="false">false</option>
        </select>
        <button type="submit" class="btn btn-primary pull-right">Start Monitor</button>
    </form>
    {{/if}}
</template>

<template name="serverStatus">
    <h3>All user connections on server:</h3>
    <p>There are currently {{allUsersCount}} ({{anonymousCount}} anonymous) users online.</p>
    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Username/Connection</th>
                <th>Route</th>
                <th>Idle</th>
                <th>Last Activity</th>
                <th>IP (<i>Last</i>)</th>
                <th style="width: 256px">User Agent (<i>Last</i>)</th>
            </tr>
        </thead>
        <tbody>
        {{#each anonymous}}
        {{> serverConnection}}
        {{/each}}
        {{#each users}}
            <tr class="bold {{userClass}}">
                <td>{{username}}<br>(last login {{localeTime status.lastLogin.date}})</td>
                <td>{{status.idle}}</td>
                <td>{{#with status.lastActivity}}
                    {{> relTime}}
                    {{else}}
                    (active or not monitoring)
                    {{/with}}
                </td>
                <td><i>{{status.lastLogin.ipAddr}}</i></td>
                <td><i>{{status.lastLogin.userAgent}}</i></td>
            </tr>
            {{#each connections}}
            {{> serverConnection}}
            {{/each}}
        {{/each}}
        </tbody>
    </table>
</template>

<template name="serverConnection">
    <tr class="{{connectionClass}}">
        <td>{{_id}}{{#with loginTime}}<br>(login {{this}}){{/with}}</td>
        <td>{{currentRoute}}</td>
        <td>{{idle}}</td>
        <td>{{#with lastActivity}}
            {{> relTime}}
            {{else}}
            (active or not monitoring)
            {{/with}}
        </td>
        <td>{{ipAddr}}</td>
        <td>{{userAgent}}</td>
    </tr>
</template>

<template name="relTime">
    {{localeTime this}}
    <br>
    ({{relativeTime this}})
</template>


<template name="showtime">
    <br />

    <div class="col-lg-8 col-md-6 col-xs-12 switches small text-left">
    <div class="scanSrt"><h5> > : <span id="textePrevious"></span></h5></div>
    <div class="scanSrt" id="nowTexte"> >> : <span id="texteNow"></span></div>
    <div class="scanSrt"><h5> >>> : <span id="texteNext"></span></h5></div>
    <div class="scanSrt"><h5> >>>> : <span id="texteNextNext"></span></h5></div>
    <br/><br/>
      <label for="showmode" title="ou mettre le site en mode Spectacle">Mode Pré-Spectacle</label>
      <input id="showmode" title="aka let's gro!" type="checkbox" checked="{{isModeSpectacleChecked}}" /><br />
      <label for="josebove" title="Prendre le pouvoir / Démarrer le spectacle - ou prendre la main sur le déroulé des évènements">Entrée Public</label> 
      <input id="josebove" title="aka José Bové!" type="checkbox" checked="{{isPowerToTheAdminChecked}}" /><br />

      <!--<label for="startSpectacle" title="ou démarrer le Spectacle">Démarrer/arrêter le spectacle</label>
      <input id="startSpectacle" title="aka start the show!" type="checkbox" checked="{{isTheShowStarted}}" /><br />-->
      compteur = <span id="currentCompteur">{{compteurAdmin}}</span> <input id="adminCompteur" name="adminCompteur" placeholder="compteur" value="{{compteurAdmin}}" size="3" /><input type="button" id="setCompteur" value="change"><br />

      <!--<label for="SUPERinterrupt" title="ou mode parking pour les SALM pas jacky">SUPERinterrupt</label> 
      <input id="SUPERinterrupt" title="aka Parking SALM!" type="checkbox" checked="{{isSUPERinterruptChecked}}" /><br />-->

      <!--<label for="forcehangup" title="ou forcer le raccrochage après la prochaine note">Raccrocher les tél</label>
      <input id="forcehangup" title="aka hang up!" type="checkbox" checked="{{isForceHangupChecked}}" /><br />
      <br />-->
      <!--SUPERinterrupt = <br />
      <button type="button" class="add-SUPERinterrupt" value="salm">parking ON salm</button>
      <button type="button" class="add-SUPERinterrupt" value="jacky_one">parking ON jacky_one</button>
      <button type="button" class="add-SUPERinterrupt" value="jacky_lt">parking ON jacky_lt</button><br />
      en cours de parking :<br />
      {{#each whoIsSUPERinterrupted}}
        {{this}} <button class="remove-SUPERinterrupt" type="submit" value="{{this}}">x</button>
      {{/each}}
      -->
      <input type="button" id="resetSUPERinterrupt" value="go to bookmark" title="reset SUPERinterrupt / go to bookmark" />
      <input type="text" id="whereSUPERinterrupt" placeholder="bookmark?" value="liaison_tel"/>
      <br />
      <div class="autofill_bookmark">
      <span>ouverturesalm</span><br />
      <span>introseb</span>
      <span>entreematharn</span>
        <span>lt</span><br />
      </div>
      <br />

      <!--<h4 class="page-header">compteurs</h4>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center">Role</th>
              <th class="text-center">X</th>
            </tr>
          </thead>
          <tbody>
          {{#each compteurs}}
          <tr>
            <td>{{_id}}</td>
            <td>{{roles.[0]}}</td>
            <td>
              {{#if isCurrentUser _id}}
              no
              {{else}}
              {{> quickRemoveButton collection="superGlobals" _id=_id onError=quickRemoveButtonOnError onSuccess=quickRemoveButtonOnSuccess beforeRemove=quickRemoveButtonBeforeRemove class="btn btn-danger"}}
              {{/if}}
            </td>
          </tr>
          {{/each}}
          </tbody>
        </table>
        <form id="addcompteur">
          <table class="table table-bordered">
            <tbody>
            <tr>
              <td class="text-left text-middle"><input id="newCompteur" name="compteurName" placeholder="compteur pour role" /></td>
              <td>
                <button type="submit">Add</button>
              </td>
            </tr>
            </tbody>
          </table>
        </form>
      compteurs<br />
      {{#each dataArray compteurs}}
          {{this.key}}.
          {{#each dataArray this.value}}
            {{this.key}}: {{this.value}}<br />
          {{/each}}
          <br />
      {{/each}}
      -->
      <!--<br />
      <br />
      <br />
      <br />
      <br />
      <br />-->
      <button id="next">next</button>

      <button id="start-the-stream">start the stream</button><br />
      
      <button id="show-the-ONE">montrer boutons</button>
      <button id="hide-the-ONE">cachez boutons</button><br />
      <!--<div id="srt-the-one">
        bienvenue,
      </div>-->
      <button id="oui">FAKE OUI</button>
      <button id="non">FAKE NON</button>
      <button id="euh">FAKE EUH</button>

      Training <button data-toggle="collapse" data-target="#training-admin">▾</button><br />
      <div id="training-admin" class="collapse">
        <button id="show-the-ONE-single-training">montrer boutons training SINGLE</button><br />
        <button id="show-the-ONE-multi-training">montrer boutons training MULTI</button><br />
        <button id="hide-the-ONE-training">cachez boutons training</button>
      </div>
    </div>
    

    <div class="col-lg-4 col-md-6 col-xs-12 text-left">

    <input type="button" class="actions" id="startONHLottery" value="startONHLottery">
<!--     <input type="button" class="actions" id="hideButtons" value="Hide Buttons">
    <input type="button" class="actions" id="startONH" value="startONH">
    <input type="button" class="actions" id="hideButtons" value="Hide Buttons">
    <input type="button" class="actions" id="startONHMultiPlayer" value="startONHMultiPlayer">
    <input type="button" class="actions" id="hideButtons" value="Hide Buttons">
 --><input type="button" class="actions" id="showLTNumber" value="showLTNumber">
    <input type="button" class="actions" id="hideLTNumber" value="hideLTNumber">
    <input type="button" class="actions" id="startCabaneLottery" value="startCabaneLottery">
    <input type="button" class="actions" id="hideCabaneLottery" value="hideCabaneLottery">
<!--     <input type="button" class="actions" id="hideButtons" value="Hide Buttons">
    <input type="button" class="actions" id="startFinishACup" value="StartFinishACup">
    <input type="button" class="actions" id="hideButtons" value="Hide Buttons">
 -->      <br/><br/><br/>


<!--       <div class="dropdown">
    <button id="actions" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions!
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a class="actions">Faire ça</a></li>
      <li><a class="actions">Faire plutôt ça</a></li>
      <li><a class="actions">Faire encore autre chose</a></li>
    </ul>
    </div>
    <button class="btn btn-danger" id="boutonGo" type="button">GO</button>

<br />
<br />
          <div id="cue">
    CUE : Alors là par exemple c'est quand Arnaud sort du camion et se met à crier en enlevant son pantalon.
    </div>

      <br/><br/><br/>
 -->

    <input type="button" id="testEclair" value="BOOM">
     Buches 
      <input type="button" id="top_midi1" value="1">
      <input type="button" id="top_midi2" value="2">
      <input type="button" id="top_midi3" value="3">
      <input type="button" id="top_midi4" value="4">
      <input type="button" id="top_midi5" value="5">
      <input type="button" id="top_midi6" value="6">
      <input type="button" id="kill_midi" value="KILL MIDI">
      <br />

      {{> boutonsAmbiance}}

      <strong>Thés</strong><br />
      volontaires : {{cuppasCount}}<br />
      tasses prêtes : {{nbCuppasFinished}}<br />
      bûches à allumer : {{buchesCount}}<br />
      next bûche in {{nextBucheAllumage}} cup(s).<br />
      <input type="button" id="resetCuppas" value="reset cuppas">
      <br />
      <input type="button" id="fakeCuppasInc" value="inc cuppas">
      <input type="button" id="fakeCuppasFinished" value="finish a cup"><br />
      {{#each dataArray buchesArray}}
        <img id="buche-{{@index}}" src="wooden-log{{#if equals this.value true}}-burning{{/if}}.svg" width="32" />
      {{/each}}
    </div>


</template>


<template name="phonesList">

    <p>There are currently {{phoneNumbersCount}} phone numbers.</p>
    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Phone</th>
                <th><span class="small">Calls</span></th>
                <th><span class="small">Representation</span></th>
                <th><span class="small">Created</span></th>
                <th><span class="small">Modified</span></th>
                <th><span class="small">X</span></th>
            </tr>
        </thead>
        <tbody>
        {{#each listPhoneNumbers}}
            <tr>
                <td class="bold">{{number}}</td>
                <td class="bold">{{calls}}</td>
                <td class="bold">{{getRepresentationName}}</td>
                <td class="small">{{created}}</td>
                <td class="small">{{updated}}</td>
                <td>{{> quickRemoveButton collection="PhoneNumbers" _id=this._id onError=quickRemoveButtonOnError onSuccess=quickRemoveButtonOnSuccess beforeRemove=quickRemoveButtonBeforeRemove class="btn btn-danger"}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>



<template name="loteriesList">

    <table class="table table-condensed table-striped table-hover">
        <!--<thead>
            <tr>
                <th>Nom</th>
                <th><span class="small">Ids</span></th>
                <th><span class="small">Created</span></th>
                <th><span class="small">Modified</span></th>
                <th><span class="small">X</span></th>
            </tr>
        </thead>-->
        {{#each listLoteries}}
          <thead>
            <tr>
                <th colspan="3">Nom</th>
                <th><span class="small">Created</span></th>
                <th><span class="small">Modified</span></th>
                <th><span class="small">X</span></th>
            </tr>
            <tr>
                <th class="bold" colspan="3">{{name}}<br /><span class="small">{{_id}}</span></th>
                <td class="small"><span class="small">{{created}}</span></td>
                <td class="small"><span class="small">{{updated}}</span></td>
                <td>{{> quickRemoveButton collection="loteries" _id=this._id onError=quickRemoveButtonOnError onSuccess=quickRemoveButtonOnSuccess beforeRemove=quickRemoveButtonBeforeRemove class="btn btn-danger"}}</td>
            </tr>
            <tr>
                <th colspan="3"><span class="small">Ids</span></th>
                <th colspan="3"><span class="small">messages
                  <br /><button class="pick-random-one">choisir 1 random SALM pour le ONH SP</button>
                  <br /><button class="pick-everybody-tea">choisir tous les SALM pour le thés/cabane</button>
                  <!--<br /><button class="assign-random-phoneNumbers">assigner des numéros au hasard</button>-->
                  <br /><button class="deliver-messages">envoyer les messages</button></span>
                </th>
            </tr>
          </thead>
        <tbody>
            <tr>
                <td colspan="3" class="bold">{{#each dataArray ids}}{{this.value}}<br />{{/each}}</td>
                <td colspan="3" class="bold">
                {{#each dataArray messages}}
                  {{#each dataArray this.value}}
                    {{this.key}}: {{this.value}}<br />
                  {{/each}}
                {{/each}}
                </td>
            </tr>
        </tbody>
        {{/each}}
    </table>
</template>

<template name="boutonsAmbiance">
    {{#each listAmbiances}}
      <input type="button" class="top_ambiance" id="{{chemin}}" value="{{name}} {{value}}" t="{{value}}">
      <h5>{{cue}}</h5>
    {{/each}}

    <!--       <input type="button" class="top_ambiance" id="lumiere_public" value="lumiere_public">
      <input type="button" class="top_ambiance" id="noir" value="noir">
      <input type="button" class="top_ambiance" id="lumiere_plateau" value="lumiere_plateau">
      <input type="button" class="top_ambiance" id="crepuscule_plateau" value="crepuscule_plateau">
 -->
</template>
