ul.admin_menu {
  list-style-type: none;
  display: inline-block;
}
ul.admin_menu li {
  float: left;
}
ul.admin_menu li:after {
  content: "/";
  margin-left: 1em;
  margin-right: 1em;
}
ul.admin_menu li:last-child:after {
  content: "";
}

body.admin{
  background-color:lightgrey;
}

#warning{
	background-color:red;
}

#countJoinedDiv{
	background-color:yellow;
	position:fixed;
	top : 15px;
	left: 15px;
	height: 50px;
  width: 50px;
  z-index: 1000;
}

#showtime-right {
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}

body.admin #login-buttons {
  position: absolute;
  right: 0;
  padding: 2px 4px;
}

.autofill_bookmark span {
  text-decoration: underline;
  cursor: pointer;
}

.autofill_bookmark span:hover {
  color: blue;
}