<head>
  <title>DATA</title>
  <meta charset="utf-8">
</head>

<template name="data">

    <div class="row">

      <div class="col-md-4">
        <div id="source-text">
          TEXTE<br />
          <textarea id="text-raw" cols="40" rows="20" placeholder="yo enter some text!"></textarea><br />
          <button id="text-to-json">Mouline !</button>
        </div>
      </div>

      <div class="col-md-8">
        <div id="demo-text">
          DEMO<br />
          reset? compteur = <input id="displayDemoCompteur" value="0" />
          {{> ecran}}
        </div>
      </div>
      <div class="col-md-6">
        <div id="json-dest">
          JSON <button data-toggle="collapse" data-target="#json-result">ouvrir/fermer</button><br />
          <textarea id="json-result" cols="40" rows="20" class="collapse" disabled></textarea><br />
          <input placeholder="nom" id="json-name" />
          <button id="save-json">Enregistre ça</button>
        </div>
      </div>

    </div>


    <div class="row">


      <div class="col-md-12 small">
        <table class="table table-condensed table-striped table-hover">
          <thead>
              <tr>
                  <th>Contenu Écran</th>
                  <th>Texte</th>
                  <th>Données</th>
                  <th>Crée</th>
                  <th>Modifié</th>
              </tr>
          </thead>
          <tbody>
              {{#each listContenusEcran}}
              <tr>
                  <td>{{name}}<br />({{_id}})<br /><button class="charger-contenu">charger</button></td>
                  <td><pre class="text-left">{{text}}</pre></td>
                  <td>
                  {{#each dataArray data}}
                      {{this.key}}.
                      {{#each dataArray this.value}}
                        {{this.key}}: {{this.value}}<br />
                      {{/each}}
                      <br />
                  {{/each}}
                  </td>
                  <td>{{created}}</td>
                  <td>{{updated}}</td>
                  <td>{{> quickRemoveButton collection="ContenusEcran" _id=this._id onError=quickRemoveButtonOnError onSuccess=quickRemoveButtonOnSuccess beforeRemove=quickRemoveButtonBeforeRemove class="btn btn-danger"}}</td>
              </tr>
              {{/each}}
          </tbody>
        </table>
      </div>

    </div>

</template>



<template name="ecran">

  <div id="demo-ecran">

    <div id="gcontainer">
      <div id="imgcontainerBACK">
        <div id="imgcontainerFRONT">
        </div>
      </div>
      
      <div id="fiction">
        <ul id="elemfiction"></ul>
      </div>
      <div id="srtcontainer">
        <div id="srt">
          Bonjour
        </div>
        <div id="sacbouttons">
        </div>
      </div>

    </div><!-- fin gcontainer-->
  </div><!-- fin demo-ecran-->

</template>