<head>
  <title>DATA</title>
  <meta charset="utf-8">
</head>

<template name="data">

    <div class="row">

      <div class="col-md-4">
        <div id="source-text">
          TEXTE<br />
          <textarea id="text-raw" cols="40" rows="20" placeholder="yo enter some text!">
***
%%%                     
%%% 03 _ SALUT BRUITAGE 
%%%                     
Sébastien —  #FR ... et que ça commencerait, tout simplement, par quelqu’un qui marche sur le plateau….. 
#NL ... en dat het zou beginnen, simpelweg, met iemand die over het toneel wandelt … 
***
(mathilde entre sur le plateau) 
Sébastien — #FR En l’occurrence c’est Mathilde.
#NL In dit geval gaat het om Mathilde.
***
#FR_CYCLO Elle arpente le plateau de long en large...
#FR_SALM Elle arpente le plateau de long en large...
#NL_CYCLO Ze stapt heen en weer over het toneel ...
***
Mathilde — #FR Alors, à noter qu’Arnaud et Sébastien s’y trouvent également, sur scène.
#NL Nu ja, let wel dat Arnaud en Sébastien er al staan, op het toneel.
***
Arnaud — #FR Oui mais nous on est légèrement en retrait… 
#NL Ja, maar wij staan een beetje op de achtergrond … 
***
#FR On commente.
#NL We geven commentaar.
***
Arnaud — #FR D’ailleurs on remarque qu’on entend assez distinctement le bruit de tes pas.
#NL Trouwens, we merken dat het geluid van je voetstappen nogal duidelijk te horen is.
***
Mathilde — #FR Oui. Mais alors il faut certainement préciser que ce n’est pas le vrai bruit de mes pas
#NL Ja. Maar dan moeten we er wel bij vertellen dat het niet het echte geluid van mijn voetstappen is 
***
Sébastien — #FR Ah bon ?
#NL Hoezo?
***
Mathilde — #FR Bah non. En fait on voulait vraiment le faire avec le vrai bruit des vrais pas, 
#NL Wel, eigenlijk wilden we het echte geluid van mijn echte voetstappen laten horen, 
***
#FR_SALM bonjour c'est michel delpech
#FR_CYCLO bonjour c'est michel delpech
#NL_CYCLO bonjour ik been michel delpech
***
#FR_SALM bonjour c'est Didier Gustain
#FR_CYCLO bonjour c'est Didier Gustain
#NL_CYCLO bonjour ik been Didier Gustain
***
#FR_SALM appellez ce numéro pour faire la liaison téléphonique du sgeg 0564120833108
#NL_SALM getelefoniert den numero meen lekkere knull 0564120833108
***
#FR_SALM bonjour c'est Robert Badinter
#FR_CYCLO bonjour c'est Robert Badinter
#NL_CYCLO bonjour ik been Robert Badinter
***         </textarea><br />
          <button id="text-to-json">Mouline !</button>
        </div>
      </div>

      <div class="col-md-8">
        <div id="demo-text">
          DEMO<br />
          reset? compteur = <input id="displayDemoCompteur" value="0" />
          {{> ecran}}
        </div>
      </div>
      <div class="col-md-6">
        <div id="json-dest">
          JSON <button data-toggle="collapse" data-target="#json-result">ouvrir/fermer</button><br />
          <textarea id="json-result" cols="40" rows="20" class="collapse" disabled></textarea><br />
          <input placeholder="nom" id="json-name" />
          <button id="save-json">Enregistre ça</button>
        </div>
      </div>

    </div>


    <div class="row">


      <div class="col-md-12 small">
        <table class="table table-condensed table-striped table-hover">
          <thead>
              <tr>
                  <th>Contenu Écran</th>
                  <th>Texte</th>
                  <th>Données</th>
                  <th>Crée</th>
                  <th>Modifié</th>
              </tr>
          </thead>
          <tbody>
              {{#each listContenusEcran}}
              <tr>
                  <td>{{name}}<br />({{_id}})<br /><button class="charger-contenu">charger</button></td>
                  <td><pre class="text-left">{{text}}</pre></td>
                  <td>
                  {{#each dataArray data}}
                      {{this.key}}.
                      {{#each dataArray this.value}}
                        {{#if isArray this.value}}
                          {{this.key}}: <br />
                          {{#each dataArray this.value}}
                            {{#each dataArray this.value}}
                              {{this.key}}: {{this.value}}<br />
                            {{/each}}
                          {{/each}}
                        {{else}}
                          {{this.key}}: {{this.value}}<br />
                        {{/if}}
                      {{/each}}
                      <br />
                  {{/each}}
                  </td>
                  <td>
                  {{#each dataArray dataPupitre}}
                      {{this.key}}.
                      {{#each dataArray this.value}}
                        {{#if isArray this.value}}
                          {{this.key}}: <br />
                          {{#each dataArray this.value}}
                            {{#each dataArray this.value}}
                              {{this.key}}: {{this.value}}<br />
                            {{/each}}
                          {{/each}}
                        {{else}}
                          {{this.key}}: {{this.value}}<br />
                        {{/if}}
                      {{/each}}
                      <br />
                  {{/each}}
                  </td>
                  <td>{{created}}</td>
                  <td>{{updated}}</td>
                  <td>{{> quickRemoveButton collection="ContenusEcran" _id=this._id onError=quickRemoveButtonOnError onSuccess=quickRemoveButtonOnSuccess beforeRemove=quickRemoveButtonBeforeRemove class="btn btn-danger"}}</td>
              </tr>
              {{/each}}
          </tbody>
        </table>
      </div>

    </div>

</template>



<template name="ecran">

  <div id="demo-ecran">

    <div id="gcontainer">
      <div id="imgcontainerBACK">
        <div id="imgcontainerFRONT">
        </div>
      </div>
      
      <div id="fiction">
        <ul id="elemfiction"></ul>
      </div>
      <div id="srtcontainer">
        <div id="srt">
          Bonjour
        </div>
        <div id="sacbouttons">
        </div>
      </div>

    </div><!-- fin gcontainer-->
  </div><!-- fin demo-ecran-->

</template>