/* videoproj */
body.ensat .shutter {
  display:none !important;
  background-color:purple;
}

body.ensat #sacbouttons{
	display:none;
}

body.ensat #srt{
  width:75%;
  font-size: 2.2vh;
}

body.ensat #eclair{
display : none;
opacity:0;
}

body.ensat #eclair2{
display : none;
opacity:0;
}