<head>
  <title>LE PONT</title>
  <meta charset="utf-8">
</head>

<template name="pupitre">
    <br />

    <div class="col-lg-8 col-md-6 col-xs-12 switches small text-left">
    <div class="scanSrt"><h5> > : <span id="textePrevious"></span></h5></div>
    <div class="scanSrt" id="nowTexte"> >> : <span id="texteNow"></span></div>
    <div class="scanSrt"><h5> >>> : <span id="texteNext"></span></h5></div>
    <div class="scanSrt"><h5> >>>> : <span id="texteNextNext"></span></h5></div>
    <br/><br/>
    </div>
    
</template>