<head>
  <title>LE PONT</title>
  <meta charset="utf-8">
</head>

<template name="pupitre">
    <br />

    <div class="col-lg-8 col-md-6 col-xs-12 switches small text-left">
    <div class="scanSrt"><h5> > : <span id="textePrevious"></span></h5></div>
    <div class="scanSrt" id="nowTexte"> >> : <span id="texteNow"></span></div>
    <div class="scanSrt"><h5> >>> : <span id="texteNext"></span></h5></div>
    <div class="scanSrt"><h5> >>>> : <span id="texteNextNext"></span></h5></div>
    <br/><br/>

    <div>
      compteur = <span id="currentCompteur">{{compteurPupitreAdmin}}</span> <input id="adminCompteur" name="adminCompteur" placeholder="compteur" value="{{compteurPupitreAdmin}}" size="3" /><input type="button" id="setCompteur" value="change"><br />
    <br />
    </div>

    <div>
    <input type="button" id="resetSUPERinterrupt" value="go to bookmark" title="reset SUPERinterrupt / go to bookmark" />
      <input type="text" id="whereSUPERinterrupt" placeholder="bookmark?" value="liaison_tel"/>
    <br/>
    </div>


    <div class="autofill_bookmark">
        <span>intro_auto_geree</span><br />
        <span>spectacle</span><br />
        <span>LT</span><br />
        <span>cabane_buche_the</span><br />
        <span>jean_bourre</span><br />
        <span>feuDeCamp</span><br />
        <span>texteFin</span><br />
    </div>
</div>

</template>