<template name="screen">
  
  <div id="gcontainer">
    <div id="srtcontainer" class="posmid">
      <div id="srt">
        Est-ce que vous pouvez appuyer sur la barre espace s'il vous plaît ? <br /> (ou toucher votre écran si vous êtes sur une tablette)
      </div>
      <div id="sacbouttons">
      </div>
    </div>
    <div id="flipbookcontainer" class="invisible">
    </div>

    <div id="imgcontainerBACK">
      <div id="imgcontainerFRONT">
      </div>
    </div>

    <div id="listcontainer" class="visible">
      <ul id="checklist">
      </ul>
    </div>
  </div>
  <div id="stream-ifr">
      <video class="rounded centered hide" id="stream-video" width=320 height=240 autoplay></video>
  </div>

  <div id="one">
  </div>

</template>