<head>
  <title>JACKY</title>
  <meta charset="utf-8">
</head>

<template name="spectacle">
<!--   {{> i18n_dropdown}}
 -->
  <div id="header">
	  <div id="headerTxt"> {{_ "Status"}} <span id="Bug">{{_ "Bug"}} </span></div>
  </div>

<!--   <div id="lan"> {{_ "Lan"}} </div>
 -->
 
  <div id="probleme"> 
      <div id="menu">X</div>
  </div>

  {{> screen}}

  <div id="stream-error">
  
  </div>


    <div id="soundcontainer">
        <div id="play" onclick="play();" style="display:none;">
            <div id="midtext"  unselectable="on"
            onselectstart="return false;" 
            onmousedown="return false;">
            CLIQUEZ ICI POUR ÉCOUTER LE LIVE
        </div>
    </div>
</div>

<script>

    var compteur = true

    var play = function() {

        audio = document.getElementById('player')
        if (compteur==true) {
            audio.play()
            document.getElementById("midtext").innerHTML = "... STREAMING";

        }else{
            audio.pause()
            document.getElementById("midtext").innerHTML = "EN PAUSE";
        }
        compteur=!compteur
        console.log(compteur)
    }

</script>

</template>
