<head>
  <title>JACKY</title>
  <meta charset="utf-8">
</head>

<template name="spectacle">
<!--   {{> i18n_dropdown}}
 -->
  <div id="header">
	  <div id="headerTxt"> {{_ "Status"}} <span id="Bug">{{_ "Bug"}} </span></div>
  </div>

  <div id="lan"> {{_ "Lan"}} </div>

  <div id="probleme"> 
      <div id="menu">X</div>
  </div>

  {{> screen}}

  <div id="stream-error">
  
  </div>


    <div id="soundcontainer">
        <div id="play" onclick="play();" style="display:none;">
            <div id="midtext"  unselectable="on"
            onselectstart="return false;" 
            onmousedown="return false;">
            CLIQUEZ ICI POUR ÉCOUTER LE LIVE
        </div>
    </div>
</div>
<!-- 
<p>
    <script>
        var supportsM3u = false;
        var myAudio = document.createElement('audio');
        if (myAudio.canPlayType("audio/x-wav") !== ""){supportsM3u = true;}
        console.log("if i was to say that my browser supported x-wav, it would be "+supportsM3u)
    </script>

    <div style="display:none;">
        <audio controls preload="none" id="player">
            <source src="http://90.4.98.179:8000/listen" type="audio/x-wav">
                Oulala ce navigateur n'a pas l'air de fonctionner, essaie-en un autre pour voir?
            </audio>
        </div>
    </p>
 -->
<script>

    var compteur = true

    var play = function() {

        audio = document.getElementById('player')
        if (compteur==true) {
            audio.play()
            document.getElementById("midtext").innerHTML = "... STREAMING";

        }else{
            audio.pause()
            document.getElementById("midtext").innerHTML = "EN PAUSE";
        }
        compteur=!compteur
        console.log(compteur)
    }

</script>

</template>
