ul.admin_menu {
  list-style-type: none;
  display: inline-block;
}
ul.admin_menu li {
  float: left;
}
ul.admin_menu li:after {
  content: "/";
  margin-left: 1em;
  margin-right: 1em;
}
ul.admin_menu li:last-child:after {
  content: "";
}

/* videoproj */
body.videoproj .shutter {
  display:none !important;
  background-color:purple;
}

body.videoproj #sacbouttons{
	display:none;
}

body.videoproj #nlsrt{
  font-size: 3.2vw;
}

body.videoproj #srt{
  font-size: 2.2vw;
  top:-100px;
}