
<template name="waiting">

<!--     {{> i18n_dropdown}}
 -->

  <div id="flag"> {{_ "Flag"}} </div>

  <div id="pastille" class={{showTrigger}}> {{_ "Entree"}}
  </div>


  <div id="infotainment">


<!--     <div id="inscription">

      {{#if isModeSpectacle}}
      {{else}}
      {{/if}}
        {{#with nextRepresentation}}
      <div id="nextshow">
        {{_ "prochaine_repres"}}
         <br /> <span id="dateNextRepresentation" title="{{location}}">{{formatDateLeFrenchStyle date_start}}</span>.
      </div>
        {{/with}}
            
      <br /><br /><br /><br />
      <br /><br /> -->
      
      <div id="titre"> {{_ "Titre"}} 
      </div>

      <div id="infoContainer">
        <div id="infoAccueil"> 
          {{#if clientHasClickedOnButton}}
          {{_ "InfoAccueil2"}}<br/><br/>
          {{_ "checklist1"}}<br/>
          {{_ "checklist2"}}<br/>
          {{_ "checklist3"}}<br/>
          {{_ "checklist4"}}<br/>
          {{_ "checklist5"}}
          {{else}}
          {{_ "InfoAccueil"}}
            <ul id="shows-list" class="">
            {{#each listRepresentations}}
              <li class="shows-list-a"> le {{formatDateLeFrenchStyle date_start}}, {{location}}
              </li> 
            {{/each}}
            </ul>
          {{/if}}
        </div>

      </div>

      <div id="moreInfo">
        {{moreInfoClicked}}
      </div>


  </div>


      <img id="peloDay" src="img/peloaccueil.svg">
      <img id="peloNight" src="img/pelonight.svg">
<!-- 
      <p>
      <br /><br />
          {{_ "text_home_2"}}      
      </p>

      <p id="dequoi">
      <br /><br /><br />
      {{#if clientBrowserSupportsWebRTC}}
          {{> WebRTCsupport}}
      {{else}}
          {{> noWebRTCsupport}}
      {{/if}}
      <br /><br /><br />
      </p>

<p>
    <br /><br /><br />
    {{_ "text_home_4"}}
    <br /><br/><br />
</p>

      <p>
        {{_ "dates"}}
        <br />

      <ul id="shows-list" class="">
        {{#each listRepresentations}}
          <li class="shows-list-a{{#if isStealth name}} hidden{{/if}}"><a class="represent {{alreadyParticipating}}" title="Choisir cette représentation" href="/chooseRepresentation/{{_id}}">le {{formatDateLeFrenchStyle date_start}} : {{location}}</a>
          <input type="button" class="represent {{alreadyParticipating}}" value="{{jeMinscris date_start}}"></li> 
        {{/each}}
      </ul>
      </p>


        <div id="bottomContainer">
          <div id="logoamikal">
          <a href="http://amicaledeproduction.com/projets/ldc.php"><img src="logoamikal.png"></a>
          </div>
      </div>
  </div>

  <div id="success">

    <div id="sucesstext">
      {{_ "text_home_5"}} <p id="date_choisie"></p>
      <br /><br />
      {{_ "text_home_6"}} <br />
      http://www.ontraverseralepont.com/.
      <br /><br />
      {{_ "text_home_7"}}    
    </div>
    
    <button id="close" onclick="closeSplash()"> OK </button>
  </div> -->
  
<!--   <script>

    $('#wifi').on('change', function(){
      if($('#wifiSVG').css("opacity") == "0"){
        $('#wifiSVG').css("opacity","1");
        console.log("change ", this.id);
          }else{
        $('#wifiSVG').css("opacity","0")
        console.log("change ", this.id)
      }
    });$('#son').on('change', function(){
      if($('#sonSVG').css("opacity") == "0"){
        $('#sonSVG').css("opacity","1")
        console.log("change ", this.id)
          }else{
        $('#sonSVG').css("opacity","0")
        console.log("change ", this.id)
      }
    });$('#pelo').on('change', function(){
      if($('#peloSVG').css("opacity") == "0"){
        $('#peloSVG').css("opacity","1")
        console.log("change ", this.id)
          }else{
        $('#peloSVG').css("opacity","0")
        console.log("change ", this.id)
      }
    });$('#laptop').on('change', function(){
      if($('#laptopSVG').css("opacity") == "0"){
        $('#laptopSVG').css("opacity","1")
        console.log("change ", this.id)
          }else{
        $('#laptopSVG').css("opacity","0")
        console.log("change ", this.id)
      }
    });$('#dispo').on('change', function(){
      if($('#dispoSVG').css("opacity") == "0"){
        $('#dispoSVG').css("opacity","1")
        console.log("change ", this.id)
          }else{
        $('#dispoSVG').css("opacity","0")
        console.log("change ", this.id)
      }
    });


    function closeSplash(){
       $("#success").css("opacity", "0")
       console.log("close splash please.")
       var waitandclear = setTimeout(function() {
        $("#success").hide()
       }, 333);
    };

  </script>
 --></template>
