
<template name="waiting">

  <!--<iframe src="http://on-appuiera-sur-espace-une-fois-rendu-a-la-page-d-accueil.com/stream/"></iframe>-->

  <div id="bonjour">
  Bonjour
  </div>

  <div id="inscription">
    {{#if isModeSpectacle}}
    <div>
      La représentation va commencer ou a commencé (TODO)
    </div>
    {{else}}
      {{#with nextRepresentation}}
    <div id="nextshow">
      La prochaine représentation commence le <br /> <span title="{{location}}">{{formatDateLeFrenchStyle date_start}}</span>.
    </div>
      {{/with}}
    {{/if}}
          
          <br /><br /><br /><br />
          <br /><br />
          
          <p>
          <p id="titre">On traversera le pont une fois rendus à la rivière </p><br /><br /> est un spectacle radio-diffusé. Pour vous inscrire à une représentation, merci de lire ce qui suit &darr; &darr; &darr;
          </p>

          <div id="first_drawing"></div>

          <p>
          Vous serez chez vous, le soir de la représentation, et vous entendrez ce qui se passe sur scène. C’est un spectacle qui a été écrit pour vous (enfin, pas seulement pour vous, aussi pour ceux·celles qui sont venu·e·s au théâtre, mais disons : pas seulement pour eux·elles)
          </p>

          <div id="second_drawing"></div>

          <p>
          De quoi avez-vous besoin ?<br />
          {{#if clientBrowserSupportsWebRTC}}
              {{> WebRTCsupport}}
          {{else}}
              {{> noWebRTCsupport}}
          {{/if}}
          <br />
          /!\ ICI ÉVENTUEL WARNING NAVIGATEUR LE CAS ÉCHÉANT (si on détecte que leur browser est pas compatible on ajoute une ligne ici pour dire que ça va craindre à mort), mais à part ça vous aurez besoin :
          </p>

          <p>
          D’une connexion internet correcte<br />
          D’être chez vous<br />
          D’être seul·e<br />
          De pouvoir diffuser le son à un bon petit volume<br />
          D'avoir un ordinateur portable pour pouvoir vous déplacer avec <br />
          Et bien sûr d’être disponible à ce moment là<br />

          </p>

          <p>
          Ah oui mais alors à quels moments exactement ?


          <ul id="shows-list" class="">
            Les prochaines dates sont les suivantes :<br />
            {{#each listRepresentations}}
              <li><a class="represent{{alreadyParticipating}}" title="Choisir cette représentation" href="/chooseRepresentation/{{_id}}">le {{formatDateLeFrenchStyle date_start}} : {{name}}, {{location}}</a></li>
            {{/each}}
          </ul>
          Vous pouvez vous “inscrire”, en réalité ça ne vous engage à rien, mais comme ça nous on sait plus où moins combien de salms on peut espérer
          </p>
  </div><!-- fin #inscription -->

</template>
