<template name="WebRTCsupport">
<p>
            Par ailleurs on vous met à disposition cette petite checklist ci-dessous pour vérifier que vous avez tout ce qu'il vous faut pour profiter du spectacle. Cochez les cases en fonction de votre situation, si vous avez plus de 5 cercles verts sur le dessin ça devrait être ok, mais en définitive c'est vous qui voyez.
</p>
  <script>
  console.log("salut c'est moi que tu cherches WEBRTC SUPPORTED")
  $("#checkboxRTC").prop('checked', true)
  </script>
</template>
<template name="noWebRTCsupport">
<p>
Bon sang de bois, nous détectons que vous utilisez un navigateur non-compatible avec notre web-app. À priori le flux audio ne fonctionnera pas du tout, et ben du coup il se passera pas grand-chose de votre côté. La bonne nouvelle, c'est qu'il existe une solution à ce problème : installez <a href=https://www.mozilla.org/fr/firefox/products/>FIREFOX</a> ou <a href=https://www.google.com/chrome/browser/desktop/index.html>GOOGLE CHROME</a> et revenez sur cette page. Normalement ce texte devrait avoir disparu. </p>
    <script>
    $("#webrtc").css("opacity", "0")
    console.log("no WEBRTCSupport! go https://www.mozilla.org/en-US/firefox/products")
  </script>

</template>