<template name="WebRTCsupport">
<p>
{{_ "text_home_3"}}
</p>
  <script>
  console.log("salut c'est moi que tu cherches WEBRTC SUPPORTED")
  $("#checkboxRTC").prop('checked', true)
  </script>
</template>
<template name="noWebRTCsupport">
<p>
{{_ "bon_sang_de_bois"}} <a href=https://www.mozilla.org/fr/firefox/products/>FIREFOX</a> / <a href=https://www.google.com/chrome/browser/desktop/index.html>GOOGLE CHROME</a> {{_ "revenez"}}</p>
    <script>
    $("#webrtc").css("opacity", "0")
    console.log("no WEBRTCSupport! go https://www.mozilla.org/en-US/firefox/products")
  </script>

</template>